@charset "UTF-8";
a {
	text-decoration: none;
}

.container {
	background-color: #FFFFFF; 
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.main_header {
	width: 100%;
	background-color: #526c5d;
	padding-top: 20px;
	padding-bottom: 20px;
	clear: left;
	border-bottom: 2px solid #526c5d;
}

.menu_header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #b5d7b5;
	clear: left;
	color: white;
}
.container .menu_header ul {
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 15px;
	width: 100%;
	
}
.menu_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 13%;
	transition: all 0.3s linear;
}

.menu_header ul li:hover {
	color: #526c5d;
	cursor: pointer;
}

.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}

.footer {
	background-color: #526c5d;
}

@media (max-width: 320px) {
.menu_header ul li {
	float: none;
	margin-top: 28px;
	width: 100%;
}

.container .menu_header ul {
	height: auto;
	width: 100%;
	text-align: center;
}

.menu_header {
	padding-top: 1px;
	padding-bottom: 40px;
}
}
* {
    box-sizing: border-box
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.contact_details {
	text-align: center;
	background-color: #526c5d;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 1px;
	font-family: "Source Sans Pro";
}

.teamImage {
	width: 5%;
	float: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding: 20px;
	margin: 10px auto;
}

/* ----------------------------------------- Additional css for donations page ------------------------------------- */

.donate {
	background-color: #97aea1;
    padding: 20px;
	float: left;
    width: 640px;
	margin: 30px auto;
	font-family: "Source Sans Pro";
	font-weight: normal;
    box-shadow: 0 0 10px black ;
	color: whitesmoke;
	text-align: center;
	float: left;
}

.donate img {
	height: 220px;
	width: 600px;
}

.donateTwo {
	background-color: #97aea1;
    padding: 20px;
    width: 640px;
	margin: 30px auto;
	font-family: "Source Sans Pro";
	font-weight: normal;
    box-shadow: 0 0 10px black ;
	color: whitesmoke;
	text-align: center;
	float: right;
}

.donateTwo img {
	height: 220px;
	width: 600px;
}

.donateButton li a {
    background-color: black;
    display: block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.8em 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 110px;
	color: whitesmoke;
    
}


div.box_Div {
    background-color: #97aea1;
    float: left;
    width: 43%;
    height: 330px;
    padding: 10px;
    margin: 30px;
	text-align: center;
}

div.submit_Div {
    background-color: #97aea1;
    float: left;
    width: 94%;
    height: 450px;
    padding: 10px;
    margin: 30px;
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: normal;
    box-shadow: 0 0 10px black ;
  
}

lu.don{
	text-align: center;
    list-style:none;
	display: inline-block
}

.submissionDonate{
	text-align: center;
  }

.submissionDonate a {
	  display: block;
	  width: 130px; 
  }

.submissionDonate li a {
	background-color: black;
	color: whitesmoke;
    display: block;
    padding: 0.8em;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0 0.8em 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 110px;
}

.welcomeDiv{
	background-color: white;
    float: left;
    width: 94%;
	height: 100px;
    padding: 10px;
    margin: 30px;
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: normal;
    box-shadow: 0 0 10px black ;
}

.designLabel{
	font-size: 20px;
}

.textBoxDesign{
	height: 30px;
	width: 400px;
}

.headerForm{
	font-size: 30px;
}

.leftSubmission{
 	float: left;
	padding-left: 100px;
}

.rightSubmission{
 	float: right;
	padding-right: 100px;
}

